(
    root:(
        Sequence(()),
        [
            (DebugAction((message:"Hello, from DebugMessage0!", duration: 1.0))),
            (DebugAction((message:"Hello, from DebugMessage1!"))),
        ]
    )
)