Behavior(
    "Do a few times",
    Repeater((repeat:Times(2))),
    [(
        "Do in order",
        Sequencer(()),[
        ("Say hi", Debug((message:"Hello, from DebugMessage0!"))),
        ("Say hi again", Debug((message:"Hello, from DebugMessage1!")))
    ])]
)