(
    root:(
        "Do forever",
        Repeater((repeat:Forever)),
        [(
            "Simple sequence",
            Sequencer(()),
            [
                ("Produce Item", MachineProduction((duration: 8))),
                ("Rest", Debug((duration: 8))),
            ]
        )]
    )
)