Behavior(
    "Loop forever",
    Repeater((repeat:Forever)),
    [
        ("Delay", Delay((duration: 5.0)), [
            ("Can do?", Gate((script: Inline(r#"print(global.state); global.state = global.state + 1; global.state < 3"#))), [
                ("Do a thing", Debug((message: "I'm doing a thing!")))
            ])
        ]),
    ]
)