(
    root:(
        Sequence(()),
        [
            (DebugAction((fail: true))),
            (DebugAction((duration: 1.5))),
            (DebugAction((message: "Hello World!"))),
        ]
    )
)
