(
    root:(
        "Do forever",
        Repeater((repeat:Forever)),
        [(
            "Simple sequence",
            Sequencer(()),
            [   
                (
                    "Work or Dead",
                    Selector((random:true)),
                    [
                        ("Work", AgentWork((duration: 8.0))),
                        ("Dead", AgentDead(())),
                    ]
                ),
                ("Purchase", AgentPurchase(())),
                (
                    "Rest or Dead",
                    Selector((random:true)),
                    [
                        ("Rest", AgentRest((duration: 8.0, position: Vec3(0.0, 0.0, 0.0)))),
                        ("Dead", AgentDead(())),
                    ]
                ),
            ]
        )]
    )
)