(
    root:(
        "Do forever",
        Repeater((repeat:Forever)),
        [(
            "Simple sequence",
            Sequencer(()),
            [
                (
                    "Produce or Dead",
                    Selector((random:true)),
                    [
                        ("Produce Item", MachineProduction((duration: 8))),
                        ("Dead", AgentDead(())),
                    ]
                ),
                (
                    "Rest or Dead",
                    Selector((random:true)),
                    [
                        ("Rest", Debug((duration: 8))),
                        ("Dead", AgentDead(())),
                    ]
                ),
            ]
        )]
    )
)