(
    root:(
        "Loop forever",
        Repeater((repeat:Forever)),
        [
            (
                "Wait and do",
                Sequencer(()),
                [
                    ("Wait a bit", Delay((duration: 5.0))),
                    (
                        "Run until any good",
                        UntilAny(()),
                        [
                            ("Do a thing", Debug((duration: 5.0, fail: false))),
                            ("Do another", Debug((duration: 2.0, fail: true))),
                            ("Do more", Debug((duration: 8.0))),
                            (
                                "Wait and do",
                                Sequencer(()),
                                [
                                    ("Wait a bit", Delay((duration: 2.0))),
                                    (
                                        "Run until any good",
                                        UntilAny(()),
                                        [
                                            ("Do a thing", Debug((duration: 5.0, fail: false))),
                                            ("Do another", Debug((duration: 2.0, fail: true))),
                                            ("Do more", Debug((duration: 8.0))),
                                        ]
                                    )
                                ]
                            )
                        ]
                    )
                ]
            )
        ]
    )
)