(
    root:(
        "Do forever",
        Repeater((repeat:Forever)),
        [(
            "Simple sequence",
            Sequencer(()),
            [
                ("Work", AgentWork((duration: 8.0))),
                ("Rest", AgentRest((duration: 8.0, position: Vec3(0.0, 0.0, 0.0)))),
            ]
        )]
    )
)