Behavior(
    "Loop Guard",
    Repeater((repeat:Forever)),
    [
        ("Delay", Delay((duration: 5.0)), [
            ("Can do?", Guard((script: Asset("scripts/true.rhai"))), [
                ("Do a thing", Debug((message: "I'm doing a thing!")))
            ])
        ]),
    ]
)