("❓ Selector", Selector((
    random: false,
)), [
    ("⌛ Delay", Delay((
        duration: (
            prop: Value(0.0),
        ),
    )), [
        ("👁 Debug", Debug((
            message: (
                prop: Value("pepe"),
            ),
            fail: (
                prop: Value(false),
            ),
            duration: (
                prop: Value(0.0),
            ),
        )), [], (
            pos: (600.0, 0.0),
        )),
    ], (
        pos: (400.0, 0.0),
    )),
    ("~ Inverter", Inverter(()), [], (
        pos: (400.0, 200.0),
    )),
], (
    pos: (200.0, 0.0),
))