(
    root:(
        "Loop forever",
        Repeater((repeat:Forever)),
        [
            (
                "BankGenerateMoney",
                Sequencer(()),
                [
                    ("BankStealed", BankStealed(())),
                    ("BankGenerate", BankGenerate(())),
                    ("BankRest", BankRest(())),
                ]
            )
        ]
    )
)