(
    root:(
        "Loop forever",
        Repeater((repeat:Forever)),
        [
            (
                "BankGenerateMoney",
                Sequencer(()),
                [
                    ("BankGenerate", BankGenerate(())),
                    ("NotStealedIsGood", Inverter(()), [("BankStealed", BankStealed(()))]),
                    ("BankRest", BankRest(())),
                ]
            )
        ]
    )
)