(
    root:(
        "Loop forever",
        Repeater((repeat:Forever)),
        [
            (
                "CitizenWork",
                Any(()),
                [
                    ("MoveLoop", Repeater((repeat: Forever)),
                    [
                        ("CitizenMove", CitizenMove(())),
                    ]),
                    ("Actions", Sequencer(()), [
                        ("CitizenRest", CitizenRest(())),
                    ])
                ]
            )
        ]
    )
)