(
    root:(
        "Loop forever",
        Repeater((repeat:Forever)),
        [
            ("Actions", Sequencer(()), [
                ("CitizenMove", CitizenMove(())),
                ("CitizenRest", CitizenRest(())),
            ]),
        ]
    )
)