(
    root:(
        "Loop forever",
        Repeater((repeat:Forever)),
        [
            (
                "CopChaseRobber",
                Any(()),
                [
                    ("MoveLoop", Repeater((repeat: Forever)),
                    [
                        ("CopChase", CopChase(())),
                    ]),
                    ("Actions", Sequencer(()), [
                        ("CopBribed", CopBribed(())),
                        ("CopRest", CopRest(())),
                        ("CopCapture", CopCapture(())),
                    ])
                ]
            )
        ]
    )
)