(
    root:(
        "Loop forever",
        Repeater((repeat:Forever)),
        [
            (
                "CopChaseRobber",
                Sequencer(()),
                [
                    ("CopBribed", CopBribed(())),
                    ("CopChase", CopChase(())),
                    ("CopRest", CopRest(())),
                    ("CopCapture", CopCapture(())),
                ]
            )
        ]
    )
)