(
    root:(
        "Loop forever",
        Repeater((repeat:Forever)),
        [
            ("Actions", Sequencer(()), [
                ("NotBribedIsGood", Inverter(()), [("CopBribed", CopBribed(()))]),
                ("RobotDoing", Any(()), [
                    ("CopChase", CopChase(())),
                    ("CopCapture", CopCapture(())),
                    ("CopAlerted", CopAlerted(())),
                ]),
                ("CopRest", CopRest(())),
            ]),
        ]
    )
)
