(
    root:(
        "Loop forever",
        Repeater((repeat:Forever)),
        [
            ("Actions", Sequencer(()), [
                ("RobberCaptured", RobberCaptured(())),
                ("RobotDoing", All(()), [
                    ("RobberRun", RobberRun(())),
                    ("RobberBribe", RobberBribe(())),
                    ("RobberSteal", RobberSteal(())),
                ]),
                ("RobberRest", RobberRest(())),
            ]),
        ]
    )
)