(
    root:(
        "Loop forever",
        Repeater((repeat:Forever)),
        [
            (
                "RobberEscapeCop",
                Any(()),
                [
                    ("MoveLoop", Repeater((repeat: Forever)),
                    [
                        ("RobberRun", RobberRun(())),
                    ]),
                    ("Actions", Sequencer(()), [
                        ("RobberCaptured", RobberCaptured(())),
                        ("RobberRest", RobberRest(())),
                        ("RobberBribe", RobberBribe(())),
                    ]),
                ]
            )
        ]
    )
)