((
    graph: (
        nodes: [
            (
                value: None,
                version: 0,
            ),
            (
                value: Some((
                    id: (
                        idx: 1,
                        version: 1,
                    ),
                    label: "Root",
                    inputs: [],
                    outputs: [
                        ("", (
                            idx: 1,
                            version: 1,
                        )),
                    ],
                    user_data: (
                        data: Root,
                    ),
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 2,
                        version: 1,
                    ),
                    label: "👁 Debug",
                    inputs: [
                        ("A", (
                            idx: 1,
                            version: 1,
                        )),
                    ],
                    outputs: [],
                    user_data: (
                        data: Behavior(Debug((
                            message: "pepe",
                            fail: false,
                            duration: 0.0,
                        ))),
                    ),
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 3,
                        version: 1,
                    ),
                    label: "? Selector",
                    inputs: [
                        ("A", (
                            idx: 2,
                            version: 1,
                        )),
                    ],
                    outputs: [
                        ("B", (
                            idx: 2,
                            version: 1,
                        )),
                        ("B", (
                            idx: 4,
                            version: 1,
                        )),
                        ("B", (
                            idx: 6,
                            version: 1,
                        )),
                    ],
                    user_data: (
                        data: Behavior(Selector((
                            random: false,
                        ))),
                    ),
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 4,
                        version: 1,
                    ),
                    label: "⌛ Delay",
                    inputs: [
                        ("A", (
                            idx: 3,
                            version: 1,
                        )),
                    ],
                    outputs: [
                        ("", (
                            idx: 3,
                            version: 1,
                        )),
                    ],
                    user_data: (
                        data: Behavior(Delay((
                            duration: 0.0,
                        ))),
                    ),
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 5,
                        version: 1,
                    ),
                    label: "Inverter",
                    inputs: [
                        ("A", (
                            idx: 4,
                            version: 1,
                        )),
                    ],
                    outputs: [
                        ("", (
                            idx: 5,
                            version: 1,
                        )),
                    ],
                    user_data: (
                        data: Behavior(Inverter(())),
                    ),
                )),
                version: 1,
            ),
        ],
        inputs: [
            (
                value: None,
                version: 0,
            ),
            (
                value: Some((
                    id: (
                        idx: 1,
                        version: 1,
                    ),
                    typ: Flow,
                    value: Flow,
                    kind: ConnectionOnly,
                    node: (
                        idx: 2,
                        version: 1,
                    ),
                    shown_inline: true,
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 2,
                        version: 1,
                    ),
                    typ: Flow,
                    value: Flow,
                    kind: ConnectionOnly,
                    node: (
                        idx: 3,
                        version: 1,
                    ),
                    shown_inline: true,
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 3,
                        version: 1,
                    ),
                    typ: Flow,
                    value: Flow,
                    kind: ConnectionOnly,
                    node: (
                        idx: 4,
                        version: 1,
                    ),
                    shown_inline: true,
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 4,
                        version: 1,
                    ),
                    typ: Flow,
                    value: Flow,
                    kind: ConnectionOnly,
                    node: (
                        idx: 5,
                        version: 1,
                    ),
                    shown_inline: true,
                )),
                version: 1,
            ),
        ],
        outputs: [
            (
                value: None,
                version: 0,
            ),
            (
                value: Some((
                    id: (
                        idx: 1,
                        version: 1,
                    ),
                    node: (
                        idx: 1,
                        version: 1,
                    ),
                    typ: Flow,
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 2,
                        version: 1,
                    ),
                    node: (
                        idx: 3,
                        version: 1,
                    ),
                    typ: Flow,
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 3,
                        version: 1,
                    ),
                    node: (
                        idx: 4,
                        version: 1,
                    ),
                    typ: Flow,
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 4,
                        version: 1,
                    ),
                    node: (
                        idx: 3,
                        version: 1,
                    ),
                    typ: Flow,
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 5,
                        version: 1,
                    ),
                    node: (
                        idx: 5,
                        version: 1,
                    ),
                    typ: Flow,
                )),
                version: 1,
            ),
            (
                value: Some((
                    id: (
                        idx: 6,
                        version: 1,
                    ),
                    node: (
                        idx: 3,
                        version: 1,
                    ),
                    typ: Flow,
                )),
                version: 1,
            ),
        ],
        connections: [
            (
                value: None,
                version: 0,
            ),
            (
                value: Some((
                    idx: 3,
                    version: 1,
                )),
                version: 1,
            ),
            (
                value: Some((
                    idx: 1,
                    version: 1,
                )),
                version: 1,
            ),
            (
                value: Some((
                    idx: 2,
                    version: 1,
                )),
                version: 1,
            ),
            (
                value: Some((
                    idx: 4,
                    version: 1,
                )),
                version: 1,
            ),
        ],
    ),
    node_order: [
        (
            idx: 1,
            version: 1,
        ),
        (
            idx: 3,
            version: 1,
        ),
        (
            idx: 5,
            version: 1,
        ),
        (
            idx: 2,
            version: 1,
        ),
        (
            idx: 4,
            version: 1,
        ),
    ],
    connection_in_progress: None,
    selected_nodes: [],
    ongoing_box_selection: None,
    node_positions: [
        (
            value: None,
            version: 0,
        ),
        (
            value: Some((
                x: 0.0,
                y: 0.0,
            )),
            version: 1,
        ),
        (
            value: Some((
                x: 855.0011,
                y: 80.28418,
            )),
            version: 1,
        ),
        (
            value: Some((
                x: 297.09436,
                y: 280.65198,
            )),
            version: 1,
        ),
        (
            value: Some((
                x: 655.3651,
                y: 281.52148,
            )),
            version: 1,
        ),
        (
            value: Some((
                x: 747.4497,
                y: 430.65234,
            )),
            version: 1,
        ),
    ],
    node_finder: None,
    pan_zoom: (
        pan: (
            x: 0.0,
            y: 0.0,
        ),
        zoom: 0.0,
    ),
    _user_state: (),
))