("Simple sequence", Sequencer((
    random: false,
)), [
    ("Dont fail", Debug((
        message: (
            prop: Value(""),
        ),
        fail: (
            prop: Value(false),
        ),
        duration: (
            prop: Value(0.0),
        ),
    )), [], (
        pos: (400.0, 0.0),
    )),
    ("Take some time", Wait((
        duration: (
            prop: Value(1.5),
        ),
        fail: (
            prop: Value(false),
        ),
    )), [], (
        pos: (400.0, 200.0),
    )),
    ("Say Hello", Debug((
        message: (
            prop: Value("Hello World"),
        ),
        fail: (
            prop: Value(false),
        ),
        duration: (
            prop: Value(0.0),
        ),
    )), [], (
        pos: (400.0, 400.0),
    )),
], (
    pos: (200.0, 0.0),
))