("Loop guard", Repeater((
    repeat: Forever,
)), [
    ("Delay", Delay((
        duration: (
            prop: Value(5.0),
        ),
    )), [
        ("Can do?", Guard((
            condition: (
                prop: Eval(
                    eval: "print(blackboard.state); blackboard.state = blackboard.state + 1; blackboard.state < 3",
                ),
            ),
        )), [
            ("Do a thing", Debug((
                message: (
                    prop: Value("I\'m doing a thing"),
                ),
                fail: (
                    prop: Value(false),
                ),
                duration: (
                    prop: Value(0.0),
                ),
            )), [], (
                pos: (800.0, 0.0),
            )),
        ], (
            pos: (600.0, 0.0),
        )),
    ], (
        pos: (400.0, 0.0),
    )),
], (
    pos: (200.0, 0.0),
))