(
    "Loop forever",
    Repeater((repeat:Forever)),
    [
        ("Delay", Delay((duration: 5.0)), [
            ("Subtree with gate", Subtree((asset: "bhts/debug/gate_blackboard.bht.ron", unload: true))),
        ]),
    ]
)