("⇉ Any", Any(()), [
    ("🕓 Timeout", Timeout((
        duration: 5.0,
    )), [
        ("⌛ Wait", Wait((
            duration: 15.0,
            fail: false,
        )), [], (
            pos: (600.0, 0.0),
        )),
    ], (
        pos: (400.0, -0.12109375),
    )),
    ("⌛ Wait", Wait((
        duration: 10.0,
        fail: false,
    )), [], (
        pos: (400.0, 200.0),
    )),
], (
    pos: (200.0, 0.0),
))